
<div class="min-h-screen">
  {% section 'hero' %}
  
  {% section 'featured-collection' %}
  
  {% section 'featured-products' %}
  
  {% section 'testimonials' %}
  
  {% section 'instagram-feed' %}
</div>
